:root {
    --bg: #fce7d6;
    --azul: #3E6E8C;
    --azul-hover: #5ea3cebf;
    --fonte: #401801;
    --margin-mobile: 10px 5vw;
    --margin-footer-mobile: 100px 5vw;
    --margin-desktop: 20px 3vw;
    --margin-footer-desktop: 100px 3vw;
}